In [40]:
import numpy as np
import pandas as pd

In [4]:
pwd

'D:\\Work\\SF\\ML Project'

In [5]:
flight_df = pd.read_csv('Data\\Flight_Data.csv')

In [10]:
flight_df.isnull().sum()

Year               0
Quarter            0
Month              0
DayofMonth         0
FlightDate         0
OriginAirportID    0
Origin             0
DestAirportID      0
CRSDepTime         0
DepTime            0
DepDelayMinutes    0
DepDel15           0
CRSArrTime         0
ArrTime            0
ArrDelayMinutes    0
ArrDel15           0
dtype: int64

In [11]:
flight_df = flight_df[flight_df['ArrDelayMinutes'].notna()]

In [28]:
weather_df = pd.read_csv('Data\\Weather_Data.csv')

In [34]:
df = pd.merge(flight_df,weather_df,how = 'inner',left_on = ['Origin','DepartureTime','FlightDate'],right_on = ['place','time','date'])
df = df.drop(['Origin','DepartureTime'],axis = 1)

In [48]:
time_change = []
for i in flight_df['CRSDepTime'] :
    newtime = time_convert(i)
    time_change.append(newtime)
flight_df['DepartureTime'] = time_change

In [49]:
def time_convert(time) :    
    time = int(time)
    r1 = time %100
    if(r1<30) :
        time = time - r1
    elif(r1>=30) :
        time = time + (100 - r1)
    if(time == 2400):
        time = 0
    return time

In [19]:
flight_df.head()

,Year,Quarter,Month,DayofMonth,FlightDate,OriginAirportID,Origin,DestAirportID,CRSDepTime,DepTime,DepDelayMinutes,DepDel15,CRSArrTime,ArrTime,ArrDelayMinutes,ArrDel15,DepartureTime
0,2016,4,10,3,2016-10-03,10721,BOS,12478,600,556.0,0.0,0.0,715,709.0,0.0,0.0,600
1,2016,4,10,4,2016-10-04,10721,BOS,12478,600,554.0,0.0,0.0,715,712.0,0.0,0.0,600
2,2016,4,10,1,2016-10-01,12478,JFK,12892,830,823.0,0.0,0.0,1141,1111.0,0.0,0.0,900
3,2016,4,10,2,2016-10-02,12478,JFK,12892,830,847.0,17.0,1.0,1141,1159.0,18.0,1.0,900
4,2016,4,10,3,2016-10-03,12478,JFK,12892,830,825.0,0.0,0.0,1141,1131.0,0.0,0.0,900

In [29]:
weather_df.drop(['Unnamed: 0'],axis = 1, inplace = True)

In [35]:
weather_df.head()

,windspeedKmph,visibility,weatherCode,precipMM,WindGustKmph,pressure,cloudcover,winddirDegree,humidity,DewPointF,tempF,time,WindChillF,date,place
0,2,10,113,0.0,4,1018,8,197,54,51,71,0,71,2016-10-02,ATL
1,2,10,113,0.0,4,1018,11,202,55,51,68,100,69,2016-10-02,ATL
2,2,10,113,0.0,4,1018,14,208,56,51,66,200,67,2016-10-02,ATL
3,2,10,113,0.0,4,1017,17,213,57,51,64,300,65,2016-10-02,ATL
4,2,10,113,0.0,4,1017,11,233,59,51,62,400,63,2016-10-02,ATL

In [43]:
df['time'].unique()

array([ 900, 1300, 1200, 1100,  700, 2100,  800, 2300, 1500, 1900, 2200,
       1800, 1700,    0, 1000, 1400, 1600, 2000,  100,  600,  500,  200,
        300], dtype=int64)

In [39]:
df.to_csv('Data\\Data.csv',index = False)