In [47]:
import numpy as np
import pandas as pd

In [48]:
pwd

'D:\\Work\\SF\\ML Project'

In [49]:
flight_df = pd.read_csv('Data\\Flight_Data.csv')

In [53]:
flight_df.isna().sum()

Year               0
Quarter            0
Month              0
DayofMonth         0
FlightDate         0
OriginAirportID    0
Origin             0
DestAirportID      0
Dest               0
CRSDepTime         0
DepTime            0
DepDelayMinutes    0
DepDel15           0
CRSArrTime         0
ArrTime            0
ArrDelayMinutes    0
ArrDel15           0
dtype: int64

In [51]:
flight_df.shape

(5055569, 17)

In [52]:
flight_df = flight_df[flight_df['ArrDelayMinutes'].notna()]

In [54]:
weather_df = pd.read_csv('Data\\Weather_Data.csv')

In [55]:
weather_df.isna().sum()

Unnamed: 0       0
windspeedKmph    0
visibility       0
weatherCode      0
precipMM         0
WindGustKmph     0
pressure         0
cloudcover       0
winddirDegree    0
humidity         0
DewPointF        0
tempF            0
time             0
WindChillF       0
date             0
place            0
dtype: int64

In [56]:
flight_df.columns

Index(['Year', 'Quarter', 'Month', 'DayofMonth', 'FlightDate',
       'OriginAirportID', 'Origin', 'DestAirportID', 'Dest', 'CRSDepTime',
       'DepTime', 'DepDelayMinutes', 'DepDel15', 'CRSArrTime', 'ArrTime',
       'ArrDelayMinutes', 'ArrDel15'],
      dtype='object')

In [57]:
weather_df.columns

Index(['Unnamed: 0', 'windspeedKmph', 'visibility', 'weatherCode', 'precipMM',
       'WindGustKmph', 'pressure', 'cloudcover', 'winddirDegree', 'humidity',
       'DewPointF', 'tempF', 'time', 'WindChillF', 'date', 'place'],
      dtype='object')

In [58]:
def time_convert(time) :    
    time = int(time)
    r1 = time %100
    if(r1<30) :
        time = time - r1
    elif(r1>=30) :
        time = time + (100 - r1)
    if(time == 2400):
        time = 0
    return time

In [59]:
time_change = []
for i in flight_df['CRSDepTime'] :
    newtime = time_convert(i)
    time_change.append(newtime)
flight_df['DepartureTime'] = time_change

In [60]:
df = pd.merge(flight_df,weather_df,how = 'inner',left_on = ['Origin','DepartureTime','FlightDate'],right_on = ['place','time','date'])
df = df.drop(['Origin','DepartureTime'],axis = 1)

In [61]:
df.shape

(1851091, 32)

In [62]:
df.columns

Index(['Year', 'Quarter', 'Month', 'DayofMonth', 'FlightDate',
       'OriginAirportID', 'DestAirportID', 'Dest', 'CRSDepTime', 'DepTime',
       'DepDelayMinutes', 'DepDel15', 'CRSArrTime', 'ArrTime',
       'ArrDelayMinutes', 'ArrDel15', 'Unnamed: 0', 'windspeedKmph',
       'visibility', 'weatherCode', 'precipMM', 'WindGustKmph', 'pressure',
       'cloudcover', 'winddirDegree', 'humidity', 'DewPointF', 'tempF', 'time',
       'WindChillF', 'date', 'place'],
      dtype='object')

In [63]:
df['OriginAirportID'].value_counts()

12892    209321
14771    166932
13930    153438
10397    146723
11292    144149
12889    132154
11298    125904
14747    115707
14107    114012
11618    100170
13204     99568
12478     93436
12266     89551
11057     83486
13303     76540
Name: OriginAirportID, dtype: int64

In [64]:
flight_df.head()

,Year,Quarter,Month,DayofMonth,FlightDate,OriginAirportID,Origin,DestAirportID,Dest,CRSDepTime,DepTime,DepDelayMinutes,DepDel15,CRSArrTime,ArrTime,ArrDelayMinutes,ArrDel15,DepartureTime
0,2016,4,10,3,2016-10-03,10721,BOS,12478,12478,600,556.0,0.0,0.0,715,709.0,0.0,0.0,600
1,2016,4,10,4,2016-10-04,10721,BOS,12478,12478,600,554.0,0.0,0.0,715,712.0,0.0,0.0,600
2,2016,4,10,1,2016-10-01,12478,JFK,12892,12892,830,823.0,0.0,0.0,1141,1111.0,0.0,0.0,900
3,2016,4,10,2,2016-10-02,12478,JFK,12892,12892,830,847.0,17.0,1.0,1141,1159.0,18.0,1.0,900
4,2016,4,10,3,2016-10-03,12478,JFK,12892,12892,830,825.0,0.0,0.0,1141,1131.0,0.0,0.0,900

In [65]:
weather_df.drop(['Unnamed: 0'],axis = 1, inplace = True)

In [66]:
weather_df.head()

,windspeedKmph,visibility,weatherCode,precipMM,WindGustKmph,pressure,cloudcover,winddirDegree,humidity,DewPointF,tempF,time,WindChillF,date,place
0,15,10,122,0.0,23,1026,86,319,76,33,40,0,34,2016-01-02,ATL
1,16,10,122,0.0,23,1026,81,320,78,33,39,100,33,2016-01-02,ATL
2,16,10,116,0.0,23,1026,76,321,80,33,38,200,32,2016-01-02,ATL
3,16,10,116,0.0,23,1026,71,322,83,33,38,300,31,2016-01-02,ATL
4,16,10,116,0.0,23,1026,79,319,83,32,37,400,30,2016-01-02,ATL

In [67]:
df['time'].unique()

array([ 900, 1300, 1200,  700, 2100, 1100,  800, 2300, 1500, 1900, 2200,
       1800, 1700,    0, 1000, 1400, 1600, 2000,  100,  600,  500,  200,
        300], dtype=int64)

In [68]:
df.to_csv('Data\\Data.csv',index = False)